{% extends "base.html" %}
{% load static %}
{% block title %}staff registration-page{% endblock %}
{% block custom-style%}

{% endblock %}
{% block content %}
    <div class="registration-container">

        {% if context %}

            <form method="POST" enctype="multipart/form-data" class="registration-form">
                {% csrf_token %}
                <h2 class="registration-form-title">{% block header%}STAFF REGISTRATION{% endblock %}</h2>

                {% if messages %}
                
                {% for message in messages %}
                        {% if "success" in message.tags %}
                            <p class="messages success">{{message}}</p>
                        {% elif "required" in messages %} 
                            <p class="messages">{{message}}</p>
                        {% endif%}     
                <input type="text" placeholder="Enter firstname" value={{context.first_name}}  name="firstname" class="registration-field" required>
                        {% if 'first_name' in message.tags %}
                            <p class="messages">{{message}}</p>
                        {% endif %}
                <input type="text" placeholder="Enter Lastname" value={{context.last_name}}  name="lastname" class="registration-field" required>
                        {% if 'last_name' in message.tags %}
                            <p class="messages">{{message}}</p>
                        {% endif %}
                <input type="text" placeholder="Select" name="job_type" value={{context.job_type}} list="job_type" class="registration-field" required>
                <datalist id="job_type" class="datalist">
                    <option value="Sales">
                    <option value="Services">
                </datalist>
                {% if not context.phone %}
                    <input type="text" placeholder="Enter Phone" name="phone" class="registration-field" required>
                    {% if 'phone' in message.tags %}
                        <p class="messages">{{message}}</p>
                    {% endif %}
                    
                {% else %}
                    <input type="text" placeholder="Enter Phone" value={{context.phone}}  name="phone" class="registration-field" required>
                    
                {% endif %}

                {% if not context.email %}
                    <input type="text" placeholder="Enter Email" name="email" class="registration-field" required>
                    {% if 'email' in message.tags or 'valid-email' in message.tags %}
                        <p class="messages">{{message}}</p>
                    {% endif %} 
                    
                {% else %}
                    <input type="text" placeholder="Enter Email" value={{context.email}}  name="email" class="registration-field" required>
                    
                {% endif %}    
                <input type="text" placeholder="Enter Password" name="password" class="registration-field"  required>
                        {% if 'pattern' in message.tags %}
                            <p class="messages">{{message}}</p>
                        {% endif %}     
                <input type="text" placeholder="Confirm" name="confirm" class="registration-field" required>
                        {% if 'mismatch' in message.tags %}
                            <p class="messages">{{message}}</p>
                        {% endif %}     
                <button type="submit" class="registration-field submit-btn register-btn">{% block button %}Complete{% endblock %}</button>
                    {% endfor %}

                {%endif %}

            </form>
        {% else %}
            <form method="POST" enctype="multipart/form-data" class="registration-form">
                <h2 class="add-product-title">{% block header2 %}STAFF REGISTRATION{% endblock %}</h2>
                
                {% csrf_token %} 
                <input type="text" placeholder="Enter Firstname" name="firstname" class="registration-field" required>
                <input type="text" placeholder="Enter Lastname" name="lastname" class="registration-field" required>
                <input type="text" placeholder="Select" name="job_type" list="job_type" class="registration-field" required>
                <datalist id="job_type" class="datalist">
                    <option value="Sales">
                    <option value="Services">
                </datalist>

                <input type="text" placeholder="Enter Phone" name="phone" class="registration-field" required>
                <input type="text" placeholder="Enter Email" name="email" class="registration-field" required>
                <input type="text" placeholder="Enter password" name="password" class="registration-field"  required>
                <input type="text" placeholder="confirm" name="confirm" class="registration-field" required>
                
                <button type="submit" class="registration-field submit-btn register-btn">{% block button2 %}Complete{% endblock %}</button>
                
            </form>
        {% endif %}

        {% comment %} <div class="staff-img" style="background-image: url({% static '../static/images/staff.webp'%})"></div> {% endcomment %}

    </div>
        

{% endblock %}