{% extends "base.html" %}
{% load static %}
{% block title %}login-page{% endblock %}


{% block custom-style%}

{% endblock %}
{% block content %}
        <div class="registration-container sell-car-container">
            

            <form method="POST" action="{% url 'sell-car'%}" class="registration-form">
                {% csrf_token %}
                    <h2 class="car-sell-header">SELL CAR</h2>

                    <input type="text" placeholder="Enter customer ID" name="customer_id" class="registration-field" required>
                    <input type="text" placeholder="Enter car ID" name="car_id"  class="registration-field" required>
                    <input type="text" placeholder="Select Paymentmethod" list="payment" name="payment_method" class="registration-field" required>
                    <datalist id="payment" class="datalist">
                        <option value="Cash">
                        <option value="Card">
                    </datalist>
                    <button class="registration-field submit-btn register-btn" type="submit">SELL</button>

            {% if messages %}
                {% for message in messages %}
                    <p class="pending-order-messages">{{message}}</p>
                {% endfor %}
            {% endif %}
            </form>

            {% comment %} <div class="service-img" style="background-image: url({% static "../static/images/sale.webp" %})"></div> {% endcomment %}

        </div>

            
{% endblock %}
