{% extends "base.html" %}
{% load static %}
{% block title %}service-page{% endblock %}
{% block custom-style%}

{% endblock %}
{% block content %}
    <div class="registration-container">

            <form method="POST" enctype="multipart/form-data" class="registration-form">
                {% csrf_token %}
                <h2 class="registration-form-title">{% block header%}BOOK FOR SERVICE{% endblock %}</h2>
   
                <input type="text" placeholder="Enter Car ID" name="car_id" class="registration-field" required>
        
                <input type="text" placeholder="Enter Staff ID" name="staff_id" class="registration-field" required>
    
                <div style="display: flex;"><p>Service Date</p><label class="calendar-wrapper"><input type="date" id="myDate" /><span class="calendar-icon">&#128197;</span></label></div>
                <input type="text" placeholder="Select service type" name="service_type" list="job_type" class="registration-field" id="service-cost" required>
                <datalist id="job_type" class="datalist">
                    <option value="Routine maintenance service">
                    <option value="Break service">
                    <option value="Engine diagonistic">
                    <option value="Wheel allignments">
                </datalist>
                <input type="text" placeholder="Service Cost" name="service_cost" class="service-cost registration-field">
                <br>
                <textarea rows="4" cols="50" name="service_note" placeholder="Leave a note here" class="registration-field service-text-area"></textarea>
                <br>
                <button type="submit" class="registration-field submit-btn register-btn">{% block button %}BOOK NOW{% endblock %}</button>
            </form>

            {% comment %} <div class="service-img" style="background-image: url({% static "../static/images/service.webp" %})"></div> {% endcomment %}
{% comment %} 
            <div class="cart-container pending-orders-container customer-container">
                <div class="service-headers-container">
                    <p class="cart-column-headers">Service ID</p>
                    <p class="cart-column-headers">Car ID</p>
                    <p class="cart-column-headers">Staff ID</p>
                    <p class="cart-column-headers">Date</p>
                    <p class="cart-column-headers">Type</p>
                    <p class="cart-column-headers">Cost(&pound)</p>
                </div>

                {% if 'all_service' %}
                    {% for service in all_service %}
                        <div class="car-items-container cart-items-container service-items-container">
                            <div>{{service.service_id}}</div>
                            <div>{{service.car_id}}</div>
                            <div>{{service.staff_id}}</div>
                            <div>{{service.service_date}}</div>
                            <div>{{service.service_type}}</div>
                            <div>{{service.service_cost}}</div>
                        </div>
                    {% endfor%}

                {% endif %}

            </div> {% endcomment %}

    </div>
        

{% endblock %}