{% extends "base.html" %}
{% load static %}
{% block title %}service-page{% endblock %}
{% block custom-style%}

{% endblock %}
{% block content %}
    <div class="registration-container">

            <form method="POST" enctype="multipart/form-data" class="registration-form">
                {% csrf_token %}
                <h2 class="registration-form-title">{% block header%}BOOK FOR SERVICE{% endblock %}</h2>
   
                <input type="text" placeholder="Enter Car ID" name="car_id" class="registration-field" required>
        
                <input type="text" placeholder="Enter Staff ID" name="staff_id" class="registration-field" required>
    
                <div style="display: flex;"><p>Service Date</p><input type="date" name="service_date" class="search-by-date"></div>
                <input type="text" placeholder="Select service type" name="service_type" list="job_type" class="registration-field" id="service-cost" required>
                <datalist id="job_type" class="datalist">
                    <option value="Routine maintenance service">
                    <option value="Break service">
                    <option value="Engine diagonistic">
                    <option value="Suspension and wheel allignments">
                </datalist>
                <input type="text" placeholder="Service Cost" name="service_cost" class="search-by-date service-cost registration-field">
                <br>
                <textarea rows="4" cols="50" name="service_note" placeholder="Leave a note here" class="registration-field service-text-area"></textarea>
                <br>
                <button type="submit" class="registration-field submit-btn register-btn">{% block button %}BOOK NOW{% endblock %}</button>
            </form>

            <div class="cart-container pending-orders-container customer-container">
                <div class="service-headers-container">
                    <p class="cart-column-headers">Service ID</p>
                    <p class="cart-column-headers">Car ID</p>
                    <p class="cart-column-headers">Staff ID</p>
                    <p class="cart-column-headers">Date</p>
                    <p class="cart-column-headers">Type</p>
                    <p class="cart-column-headers">Cost</p>
                </div>

                {% if 'customers' %}
                    {% for customer in customers %}
                        <div class="car-items-container cart-items-container customer-items-container">
                            <div>{{customer.customer_id}}</div>
                            <div>{{customer.first_name}}</div>
                            <div>{{customer.last_name}}</div>
                            <div>{{customer.address}}</div>
                            <div>{{customer.city}}</div>
                            <div>{{customer.phone}}</div>
                            <div>{{customer.email}}</div>
                        </div>
                    {% endfor%}

                {% endif %}

            </div>

    </div>
        

{% endblock %}